{:paths ["src/backend" "src/shared" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/core.async {:mvn/version "1.3.610"}
  com.stuartsierra/component {:mvn/version "1.0.0"}}
 :aliases
 {:backend
  {:extra-deps
   {ch.qos.logback/logback-classic {:mvn/version "1.1.3"}
    org.clojure/tools.logging {:mvn/version "1.1.0"}
    com.datomic/datomic-free {:mvn/version "0.9.5697"
                              :exclusions
                              [org.slf4j/slf4j-log4j12
                               org.slf4j/slf4j-nop
                               #_com.google.guava/guava]}
    ring/ring-core {:mvn/version "1.8.1"}
    ring/ring-jetty-adapter {:mvn/version "1.8.1"}
    ring/ring-codec {:mvn/version "1.1.2"}

    com.cognitect/transit-clj {:mvn/version "1.0.324"}}}
  :backend-dev
  {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"
              ;; "-Xmx2G"
              ;; "-Xms2G"
              ]
   :extra-paths ["src/dev/backend" "dev-resources"]
   :extra-deps
   {com.leon.computer/repl.reloaded
    {:git/url "https://github.com/leon-computer/repl.reloaded"
     :sha "8bc76b6987f3fd28dc63aee19629873835dde66e"}
    ring/ring-devel {:mvn/version "1.8.1"}}}
  :frontend
  {:extra-paths ["src/frontend"]
   :extra-deps
   {org.clojure/clojure {:mvn/version "1.10.3"}
    org.clojure/clojurescript {:mvn/version "1.10.844"}
    com.cognitect/transit-cljs {:mvn/version "0.8.264"}}}
  :frontend-dev
  {:extra-paths ["src/dev/frontend" "frontend-dev-build"]
   :extra-deps
   {com.bhauman/figwheel-main {:mvn/version "0.2.13"}
    cider/piggieback {:mvn/version "0.5.2"}}}
  :cider-nrepl
  {:extra-deps
   {cider/cider-nrepl {:mvn/version "0.25.11"}
    }}}}
